# either stackup node or anvil node (http://localhost:8545)
RPC_URL=
# either stackup bundler or local bundler node (http://localhost:14337/31337)
BUNDLER_URL=
# this is the address of the factory contract on localhost. see packages/generated/localhost/addresses/accountFactory.json
# if testing against stackup network, leave this blank, it defaults to the stackup factory address
FACTORY_ADDRESS=
# this is the address of the entry point contract on localhost. see packages/generated/localhost/addresses/entryPoint.json
# if testing against stackup network, leave this blank, it defaults to the stackup entry point address
ENTRY_POINT_ADDRESS=