/.yarn/*
!/.yarn/patches
!/.yarn/plugins
!/.yarn/releases
!/.yarn/sdks

# Swap the comments on the following lines if you don't wish to use zero-installs
# Documentation here: https://yarnpkg.com/features/zero-installs
#/.yarn/cache
#/.pnp.*
lcov.info
/**/yarn.lock
# The subtree has it's own yarn.lock, we delete it in our import of the subtree to avoid confusion
river/yarn.lock

/node_modules
/**/node_modules
/typechain-types
/cache
/artifacts
.DS_Store
coverage.json
.idea/

/docs

clients/web/app/storybook-static

.eslintcache
cache_hardhat
artifacts_*
tsconfig.tsbuildinfo
broadcast/

*.pem

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Local .terraform directories
**/.terraform/*
out/
turbo-*.log

# siwe-worker bundle
servers/workers/siwe-worker/worker/bundle.js

# profiling files
*.prof

**/coverage
**/.turbo
servers/workers/*/dist/*

.envrc
bin/gen-bindings-remove-struct

go.work.sum

.keys
clients/web/server/dist

clients/web/app/cert.csr
