dist
node_modules
docs
storybook-static
.storybook

servers/*
!servers/workers
casablanca/**/gen/*
casablanca/**/coverage/*
casablanca/node/auth/contracts/*
packages/contracts/cache/*
packages/contracts/lib/*
packages/contracts/**/out/*
packages/contracts/out/*
packages/contracts/**/types/*
packages/contracts/docgen/*
packages/contract/out

broadcast/*
cache/*
lib/*
out/*

.yarn/*
.vscode
yarn.lock

packages/generated/*

casablanca/proto/src/protocol_*.ts
