dev-dist
dist
node_modules
docs
storybook-static
.storybook

infra/*

servers/*
!servers/notification-service
!servers/workers
servers/workers/**/coverage/*
servers/workers/**/dist/*
servers/workers/**/.keys/*
core/**/gen/*
core/**/coverage/*
core/**/run_files/*
packages/**/gen/*
packages/**/coverage/*
packages/**/run_files/*
core/node/.mockery.yaml
core/node/auth/contracts/*.json
core/node/registries/contracts/*.json
packages/encryption-pkg/turbo.json
packages/contracts/cache/*
packages/contracts/deployments/*
packages/contracts/broadcast/*
packages/contracts/addresses/*
packages/contracts/lib/*
packages/contracts/**/out/*
packages/contracts/out/*
packages/contracts/**/types/*
packages/contracts/docgen/*
packages/contract/out
packages/contracts/coverage/*
packages/subgraph/generated/*
packages/subgraph/.ponder/*
packages/subgraph/*.d.ts
core/xchain/src/gen/*

broadcast/*
cache/*
lib/*
out/*

.turbo/*
.yarn/*
.vscode
yarn.lock

packages/generated/*

packages/contracts/scripts/bytecode-diff/templates/*
packages/contracts/scripts/bytecode-diff/**/*.yaml
packages/contracts/scripts/bytecode-diff/**/*.yml
packages/contracts/scripts/bytecode-diff/**/*.html
packages/contracts/scripts/bytecode-diff/**/*.json
packages/proto/src/protocol_*.ts
packages/workers/**/*.json

CLAUDE.md
