name = "gateway-worker"
main = "src/index.ts"
compatibility_date = "2023-01-20"
account_id = "9840f8a36a817b103e00e29a0e2bad6f"
minify = true
node_compat = true
logpush = true

# created with wrangler kv:namespace create "USER" AND wrangler kv:namespace create "USER" --preview
# each entry needs an `id` and `preview_id` for wrangler to work
kv_namespaces = [
    { binding = "USER", id = "825ab41e031d40e0a975bb29638c194e", preview_id = "9f43fa046a17415191d44c4aa0444234" },
    { binding = "SPACE", id = "ffd17fea5af143b8ba3cde0b7e15ef93", preview_id = "1080657b855c43b58d118c086122aa3b" },
]

[dev]
ip = "localhost"
port = 8004
local_protocol = "http"

[vars]
ENVIRONMENT = "development"
CF_API = "https://api.cloudflare.com/client/v4/accounts"
ACCOUNT_ID = "9840f8a36a817b103e00e29a0e2bad6f"
LINEAR_TEAM_ID = "2de99085-cb4a-4fd2-89c7-a892c91c0383"
LINEAR_USER_FEEDBACK_PROJECT_ID = "56801874-57ba-42e7-a9ae-5052b27500eb"
# LINEAR_STABLE_ENV_PROJECT_ID = "ab916e54-519b-4372-8ef9-cc2ba2ec8637"
LINEAR_GRAPHQL_URL = "https://api.linear.app/graphql"

# The necessary secrets are:
# AUTH_SECRET
# IMAGE_HASH - cloudflare images account hash
# API_TOKEN - images api token obtained from CF dashboard
# AWS_SECRET_ACCESS_KEY
# AWS_ACCESS_KEY_ID
# LINEAR_API_KEY
# for local development, you can add these in .dev.vars
# 
#
# For production, you can add these in the Cloudflare dashboard or run
# `echo <VALUE> | wrangler secret put <NAME>` for each of these
# for production, the secrets must be deployed behind the production flag
# `echo <VALUE> | wrangler secret put <NAME> --env production`
# OR
# Run `echo <VALUE> | wrangler secret put <NAME>` for each of these


# test routes
# CF_ENV=test-beta yarn publish
[env.test-beta]
routes = [
    { pattern = "gateway-worker-test-beta.towns.com", custom_domain = true },
]
vars = { ENVIRONMENT = "test-beta", CF_API = "https://api.cloudflare.com/client/v4/accounts", ACCOUNT_ID = "9840f8a36a817b103e00e29a0e2bad6f", LINEAR_TEAM_ID = "2de99085-cb4a-4fd2-89c7-a892c91c0383", LINEAR_USER_FEEDBACK_PROJECT_ID = "56801874-57ba-42e7-a9ae-5052b27500eb", LINEAR_GRAPHQL_URL = "https://api.linear.app/graphql" } # [vars] access, not secrets

# created with wrangler kv:namespace create "USER" --env test-beta
# created with wrangler kv:namespace create "SPACE" --env test-beta
kv_namespaces = [
    { binding = "USER", id = "bf4fb160bba4497fb49f4ce1383f5dbb" },
    { binding = "SPACE", id = "46e3556d43984c3fa028c3553794e740" },
]

# omega routes
# CF_ENV=omega yarn publish
[env.omega]
routes = [{ pattern = "gateway-worker.towns.com", custom_domain = true }]
vars = { ENVIRONMENT = "omega", CF_API = "https://api.cloudflare.com/client/v4/accounts", ACCOUNT_ID = "9840f8a36a817b103e00e29a0e2bad6f", LINEAR_TEAM_ID = "2de99085-cb4a-4fd2-89c7-a892c91c0383", LINEAR_USER_FEEDBACK_PROJECT_ID = "56801874-57ba-42e7-a9ae-5052b27500eb", LINEAR_GRAPHQL_URL = "https://api.linear.app/graphql" } # [vars] access, not secrets

# created with wrangler kv:namespace create "USER" --env test-beta
# created with wrangler kv:namespace create "SPACE" --env test-beta
kv_namespaces = [
    { binding = "USER", id = "689271de8bd34ebba01977f358dd2192" },
    { binding = "SPACE", id = "8f4405e70be64bc88c2d4c050d220b6a" },
]
