
# same as .env.test.userops-random, but with a sample private key

# ethers network - recommend alchemy or infura - spacedapp uses this for reads, don't use the stackup rpc url here b/c of rate limiting
ETHERS_NETWORK=
# rpc url - userops will use this for writes.
# Also recommend alchemy or infura b/c of rate limits, but can be stackup url
AA_RPC_URL=
#  stackup bundler url
AA_BUNDLER_URL=
# paymaster worker url
AA_PAYMASTER_PROXY_URL=http://localhost:8686
# paymaster worker auth secret - `Zm9v` for local worker
AA_PAYMASTER_PROXY_AUTH_SECRET=

CASABLANCA_SERVER_URL=https://river1.nodes.gamma.towns.com

# all tests will run against this private key
PRIVY_WALLET_PRIVATE_KEY_1=
PRIVY_WALLET_PRIVATE_KEY_2=