
# river env - which set of contracts are we using?
RIVER_ENV=gamma
# ethers network - recommend alchemy or infura - spacedapp uses this for reads, don't use the stackup rpc url here b/c of rate limiting
BASE_CHAIN_RPC_URL=
# rpc url - userops will use this for writes.
# Also recommend alchemy or infura b/c of rate limits, but can be stackup url
AA_RPC_URL=
#  stackup bundler url
AA_BUNDLER_URL=
# paymaster worker url
AA_PAYMASTER_PROXY_URL=http://localhost:8686
# paymaster worker auth secret - `Zm9v` for local worker
AA_PAYMASTER_PROXY_AUTH_SECRET=

RIVER_CHAIN_RPC_URL=https://devnet.rpc.river.build 