<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Protocol and Node Responses</title>
    <style>
      .success {
        color: green;
      }
      .error {
        color: red;
      }
      table,
      th,
      td {
        border: 1px solid black;
        border-collapse: collapse;
      }
      th,
      td {
        padding: 5px;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <h2>Node Response Times</h2>
    <table>
      <!-- Header row -->
      <tr>
        <th>Node</th>
        <th>Local</th>
        <th>HTTP</th>
        <th>GRPC</th>
        <th>Address</th>
        <th>Status</th>
        <th>Operator</th>
      </tr>

      <!-- Data rows for each Node -->
      {{range $r := .Results}}
      <!-- prettier-ignore -->
      <tr>
        <th><a href="{{$r.Url}}/debug/multi">{{$r.Url}}</a></th>
        <td>{{if $r.Local}}*{{end}}</td>
        <td class="{{if $r.HttpSuccess}}success{{else}}error{{end}}">{{$r.HttpMsg}}</td>
        <td class="{{if $r.GrpcSuccess}}success{{else}}error{{end}}">{{$r.GrpcMsg}}</td>
        <td>{{$r.Address}}</td>
        <td>{{$r.Status}}</td>
        <td>{{$r.Operator}}</td>
      </tr>
      {{end}}
    </table>
    Current UTC Time: {{.CurrentTime}}
  </body>
</html>
