dev-dist/
storybook-static/
dist/
public/
node_modules
**/node_modules
mdx.d.ts
*.json
.yarn/*
yarn.lock

vite.config.ts
vitest.config.ts
mocks

# a very annoying bug, seems vite-eslint-plugin is also linting our local @harmony/packages package
# https://github.com/gxmari007/vite-plugin-eslint/issues/43#issuecomment-1274575702
# we likely won't import this directly in app, but it is imported in our clients/lib, and causes errors here
../../../packages/generated/
