RINKEBY_RPC_URL=https://rinkeby.infura.io/v3/9aa3d95b3bc440fa88ea12eaa4456161
LOCAL_PRIVATE_KEY=[YOUR LOCAL PRIVATE KEY]
RINKEBY_PRIVATE_KEY=[YOUR RINKEBY PRIVATE KEY]
ETHERSCAN_KEY=[YOU ETHERSCAN KEY (OPTIONAL)]
LOCAL_RPC_URL=http://127.0.0.1:8545
