{
  "presets": [
    ["@babel/preset-env", { "targets": { "node": "current" } }],
    "@babel/preset-typescript"
  ],
  "ignore": ["node_modules"],
  "include": ["./src", "../../river", "../../servers"],
  "plugins": ["@babel/plugin-transform-modules-commonjs"]
}
