main = "./src/index.ts"
name = "stackup-worker"
compatibility_date = "2023-01-20"
logpush = true
node_compat = true
account_id = "9840f8a36a817b103e00e29a0e2bad6f"

kv_namespaces = [
  { binding = "OVERRIDES", id = "<ignored>", preview_id = "<ignored>" },
  { binding = "CREATE_TOWN", id = "<ignored>", preview_id = "<ignored>" },
  { binding = "EMAIL_WHITELIST", id = "<ignored>", preview_id = "<ignored>" },
  { binding = "TOWN_WHITELIST", id = "<ignored>", preview_id = "<ignored>" },
]

[vars]
# VAR_NAME = "some_value"
ENVIRONMENT = "development"
PAYMASTER_ADDRESS = ""
SKIP_TOWNID_VERIFICATION = "false"


# The necessary secrets are:
# STACKUP_API_TOKEN
# PRIVY_APP_KEY
# PRIVY_APP_ID
# ALCHEMY_API_KEY
# AUTH_SECRET (for paymaster proxy api)
# ADMIN_AUTH_SECRET (for admin api)
#
#
# for local development, you can add these in .dev.vars
# OR
# Run `echo <VALUE> | wrangler secret put <NAME>` for each of these
# add your secret property names here
#
# AUTH_SECRET

[env.test-beta]
routes = [
  { pattern = "stackup-worker-test-beta.towns.com", custom_domain = true },
]
vars = { ENVIRONMENT = "test-beta", PAYMASTER_ADDRESS = "0x5FF137D4b0FDCD49DcA30c7CF57E578a026d2789", SKIP_TOWNID_VERIFICATION = "false" }
# created with
# wrangler kv:namespace create "CREATE_TOWN"
kv_namespaces = [
  { binding = "CREATE_TOWN", id = "79073d416a8049e1ab07451baa7be8e4" },
  { binding = "OVERRIDES", id = "f7b8710535cc41aeb528d09252280de4" },
  { binding = "JOIN_TOWN", id = "87410d76977e4520ac4b321dcd8bf27b" },
  { binding = "LINK_WALLET_TO_ROOT_KEY", id = "4b110cc687c644e0ba1a0e101c7d023f" },
  { binding = "EMAIL_WHITELIST", id = "eb8c66a24b854f48be3c8f133e7d6380" },
  { binding = "TOWN_WHITELIST", id = "1a8c855fa6b548ffa63316fa3b249f8a" },
]

[env.omega]
routes = [{ pattern = "stackup-worker.towns.com", custom_domain = true }]
vars = { ENVIRONMENT = "omega", PAYMASTER_ADDRESS = "0x5FF137D4b0FDCD49DcA30c7CF57E578a026d2789", SKIP_TOWNID_VERIFICATION = "false" }
# created with
# wrangler kv:namespace create "CREATE_TOWN"
kv_namespaces = [
  { binding = "CREATE_TOWN", id = "c46483f3f6244f3dbb766efb742a77a9" },
  { binding = "OVERRIDES", id = "0608c8a945be4e30bbfbeb9b23c8c7bf" },
  { binding = "JOIN_TOWN", id = "9fb22ac1c083491e8a2f392dbbd3d603" },
  { binding = "LINK_WALLET_TO_ROOT_KEY", id = "75453c5564a84857b1d3b35b6fe32b4e" },
  { binding = "EMAIL_WHITELIST", id = "21cdaa431ba847488c812e764bc001de" },
  { binding = "TOWN_WHITELIST", id = "9c38e3c079ab49ebb1ca0f6ebaa6211b" },
]
