services:
    postgres:
        image: postgres:18
        restart: always
        shm_size: '1g'
        environment:
            - PGDATA=/var/lib/postgresql/data
            - POSTGRES_USER=postgres
            - POSTGRES_PASSWORD=postgres
            - PGUSER=postgres
        command: postgres -c max_connections=30000
        logging:
            options:
                max-size: 10m
                max-file: '3'
        ports:
            - '5433:5432'
        volumes:
            - postgres-data:/var/lib/postgresql/data
            # copy the sql script to create tables
            - ./sql/create_db.sql:/docker-entrypoint-initdb.d/create_db.sql
        healthcheck:
            test: ['CMD-SHELL', 'pg_isready -U postgres -d river']
            interval: 2s
            timeout: 5s
            retries: 10
            start_period: 10s

volumes:
    postgres-data: {}
