name: 'ABI_build'

on:
    push:
        branches:
            - 'workflow/**'
    pull_request:
        branches:
            - 'workflow/**'
        paths:
            - 'contracts/**.sol'

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

jobs:
    # generate contract types
    generate-types:
        timeout-minutes: 10
        runs-on: ubuntu-latest
        name: Generate Types
        permissions:
            contents: read
        strategy:
            fail-fast: false
            matrix:
                go: ['1.21']
        steps:
            # install yarn and go
            - name: Checkout Code
              uses: actions/checkout@v3
              with:
                  submodules: recursive

            - name: Install Go
              uses: actions/setup-go@v3
              with:
                  go-version: ${{ matrix.go }}

            - name: Install Foundry
              uses: foundry-rs/foundry-toolchain@v1
              with:
                  version: nightly

            - name: Cache node modules
              uses: actions/cache@v3
              env:
                  cache-name: cache-node-modules
              with:
                  path: |
                      node_modules
                  key: yarn-lock-${{ hashFiles('yarn.lock') }}

            - name: Setup Node
              uses: actions/setup-node@v3
              with:
                  node-version: '20'
                  cache: 'yarn'
            - run: yarn install --immutable
            # need this since forge is case-insensitive
            - name: Rename console.sol
              working-directory: lib/forge-std/src
              run: cp console.sol Console.sol
            - name: Build Types
              run: bash scripts/build-town-types.sh

    lint-types:
        runs-on: ubuntu-latest
        timeout-minutes: 10
        name: Lint Go Types
        needs: [generate-types]
        strategy:
            fail-fast: false
            matrix:
                go: ['1.21']
        steps:
            - uses: actions/checkout@v3
            # John: should this run on types included in branch instead of job generated types?
            - name: golangci-lint
              uses: golangci/golangci-lint-action@v3
              with:
                  working-directory: servers/dendrite/zion/contracts/zion_localhost
                  version: 'v1.52.2'

    # should we run lint on packages/generated/localhost/typings ?

    # Assumes branch includes latest types. In other words we're not
    # passing them from first step.
    build-client-lib:
        runs-on: ubuntu-latest
        timeout-minutes: 10
        name: Build Client Library
        needs: [generate-types]
        steps:
            - uses: actions/checkout@v3
            - name: Cache node modules
              uses: actions/cache@v3
              env:
                  cache-name: cache-node-modules
              with:
                  path: |
                      node_modules
                  key: yarn-lock-${{ hashFiles('yarn.lock') }}

            - name: Setup Node
              uses: actions/setup-node@v3
              with:
                  node-version: '20'
                  cache: 'yarn'

            - run: yarn install --immutable
            - run: yarn build
              working-directory: clients/web/lib
