name: Network Diff Upgrade

on:
    workflow_dispatch:
        inputs:
            target:
                description: 'Target environment for diff upgrade'
                default: 'omega'
                type: choice
                options:
                    - omega
    schedule:
        - cron: '0 3 * * 1' # Run every Monday at 3:00 AM UTC

jobs:
    Run_Alpha_to_Omega:
        name: Run Alpha to Omega Diff Upgrade
        if: github.event.schedule == '0 3 * * 1' || github.event.inputs.target == 'omega'
        uses: ./.github/workflows/Bytecode_diff_report.yml
        with:
            origin_environment: alpha
            target_environment: omega
        secrets:
            BASE_RPC_URL: ${{ secrets.BASE_RPC_URL }}
            BASE_SEPOLIA_RPC_URL: ${{ secrets.BASE_SEPOLIA_RPC_URL }}
            ETHERSCAN_API_KEY: ${{ secrets.ETHERSCAN_API_KEY }}
            BLOCKSCOUT_BASE_API_KEY: ${{ secrets.BLOCKSCOUT_BASE_API_KEY }}
            BLOCKSCOUT_BASE_SEPOLIA_API_KEY: ${{ secrets.BLOCKSCOUT_BASE_SEPOLIA_API_KEY }}
            ALPHA_BASE_SEPOLIA_DEPLOYER_PK: ${{ secrets.ALPHA_BASE_SEPOLIA_DEPLOYER_PK }}
            OMEGA_BASE_DEPLOYER_PK: ${{ secrets.OMEGA_BASE_DEPLOYER_PK }}
            RIVER_S3_AWS_ACCESS_KEY_ID: ${{ secrets.RIVER_S3_AWS_ACCESS_KEY_ID }}
            RIVER_S3_AWS_SECRET_ACCESS_KEY: ${{ secrets.RIVER_S3_AWS_SECRET_ACCESS_KEY }}
            RIVER_S3_AWS_REGION: ${{ secrets.RIVER_S3_AWS_REGION }}
